$color_1: #fff;

.hiddenscroll {
    overflow-y: hidden;
}

.team-page__team-item {
    overflow: hidden;
    position: relative;

    a {
        display: block;
    }

    .back-image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: -1;
        opacity: 0;
        transform: translate(-100%);
    }

    .logo-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        transition: all .5s ease-in-out;

        img {
            filter: grayscale(100%);
        }
    }

    .description-wrapper {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        max-width: 70%;
        opacity: 0;
        transition: all .5s ease-in-out;
        text-align: center;
        color: $color_1;
    }

    &:hover {
        .front-image {
            opacity: 0;
            transform: translate(100%);
        }

        .back-image {
            z-index: 1;
            opacity: 1;
            transform: translate(0);
        }

        .logo-wrapper {
            top: 20%;
            transform: translate(-50%, -20%);

            img {
                filter: grayscale(0);
            }
        }

        .description-wrapper {
            bottom: 30%;
            opacity: 1;
            z-index: 1;
        }

        .join-now-button {
            bottom: 5%;
            opacity: 1;
            z-index: 1;
        }
    }

    .join-now-button {
        /*      clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%); */
        padding: 10px;
        width: 150px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        opacity: 0;
        transition: all .5s ease-in-out;
        border-radius: 5px;
    }
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.back-image {
    transition: all .5s ease-in-out;
}

.front-image {
    transition: all .5s ease-in-out;
}

@media (max-width:1023.98px) {
    .team-page__team-item {
        .front-image {
            opacity: 0;
            transform: translate(100%);
        }

        .back-image {
            z-index: 1;
            opacity: 1;
            transform: translate(0);
        }

        .logo-wrapper {
            top: 20%;
            transform: translate(-50%, -20%);

            img {
                filter: grayscale(0);
            }
        }

        .description-wrapper {
            bottom: 30%;
            opacity: 1;
            z-index: 1;
        }
    }
}