.social-list {
    li {
        a {
            position: relative;
            width: 43px;
            height: 43px;
            display: block;
            text-align: center;
            margin: 0 10px;
            border-radius: 50%;
            padding: 0px;
            box-sizing: border-box;
            text-decoration: none;
            background-color: #292c31;
            box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
            transition: .5s;

            &:hover {
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
                text-decoration: none;
            }

            .fab {
                width: 100%;
                height: 100%;
                display: block;
                border-radius: 50%;
                line-height: calc(56px - 12px);
                font-size: 24px;
                color: #ffffff;
                transition: .5s;
            }
        }

        padding: 0px;

        &:nth-child(1) {
            a {
                &:hover {
                    .fab {
                        color: #00aced;
                    }
                }
            }
        }

        &:nth-child(2) {
            a {
                &:hover {
                    .fab {
                        color: red;
                    }
                }
            }
        }

        &:nth-child(3) {
            a {
                &:hover {
                    .fab {
                        color: #6441a5;
                    }
                }
            }
        }

        &:nth-child(4) {
            a {
                &:hover {
                    .fab {
                        color: #e4405f;
                    }
                }
            }
        }
    }
}