.team-selection-item__thumbnail {
    display: block;
    position: relative;
    width: 60%;
    padding: 0;
    outline: 0;
    margin-top: 26%;
    margin-bottom: 21%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    transform: rotate(45deg);
    color: #fff;
    background-color: #151720;
    transition: all 300ms ease;

    &:hover {
        position: relative;
        z-index: 1;
        transform: rotate(45deg) translate(-8px, -8px);

        .team-selection-item__thumbnail-inner {
            &::after {
                opacity: 0;
            }
        }
    }
}

.team-selection-item--style-1 {
    .team-selection-item__thumbnail {
        padding-bottom: calc(60% - 16px);
        border: 8px solid #3d4055;

        &:hover {
            box-shadow: 0 0 60px 4px rgba(255, 25, 143, .2);
            border-color: #ff198f;
        }
    }
}

.team-selection-item__thumbnail-inner {
    position: absolute;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        mix-blend-mode: screen;
        background-color: #151720;
        transition: opacity 300ms ease;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    img {
        &:first-child {
            width: 100%;
            height: 100%;
            object-fit: cover;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
        }
    }
}

.team-selection-item--style-2 {
    .team-selection-item__thumbnail {
        &:hover {
            box-shadow: 0 0 60px 4px rgba(255, 25, 143, .2);

            &::after {
                border-color: #ff198f;
            }
        }
    }
}

.team-selection-item__logo {
    z-index: 4;
    height: 70px;
}

.team-selection-item__logo--middle {
    position: absolute;
    top: 50%;
    left: 27%;
    width: 87%;
    transform: rotate(-45deg) translateY(calc(-75% + 4px));
    object-fit: contain;
}